
header.app-bar {
    box-shadow: var(--shadow-4);
    box-sizing: border-box;
    position: sticky;
    background: var(--color-app-bar, var(--color-primary));
    padding: 16px;
    height: 56px;
    display: flex;
    align-items: center;
    z-index: 12;
    transition: margin-top ease 400ms;
    position: relative;
}

header.app-bar.dragging {
    transition: initial;
}

header.app-bar > * {
    color: var(--color-text-on-primary);
}

header.app-bar > button:first-child {
    margin-right: 32px;
}

header.app-bar > button .effects {
    background: var(--color-text-on-primary);
}

header.app-bar > h1 {
    grid-column: 2;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
}

header.app-bar > h1 ~ button {
    margin-left: 24px;
}

/* Prominent App Bar */

header.app-bar.prominent {
    height: 128px;
}

header.app-bar.prominent > h1 {
    align-self: flex-end;
    padding-bottom: 12px;
}

header.app-bar.prominent > button {
    align-self: flex-start;
}

/* Search Bar */

header.app-bar > section.search {
    position: absolute;
    background-color: var(--color-sheet);
    margin: 0 -16px;
    width: 100%;
    transform: translateX(100%);
    transition: transform cubic-bezier(0.4, 0.0, 1, 1) .2s;
}

header.app-bar > section.search > button {
    margin-left: 16px;
}

header.app-bar > section.search > label {
    margin: 8px 0 8px 28px;
    padding: 0;
    height: 42px;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    width: calc(100% - 90px);
}

header.app-bar > section.search[open] {
    transform: translateX(0);
}
