
/* Outlined Button */
button {
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 64px;
    user-select: none;
    font-size: 14px;
    border-radius: 4px;
    transition: all ease .5s;
    height: 36px;
    background: transparent;
    padding: 0 16px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
}

button:disabled {
    pointer-events: none;
    opacity: .38;
    color: var(--color-text);
    border-color: var(--color-text);
}

button[data-icon-pre] {
    padding-left: 12px;
}

button[data-icon-pre]::before {
    font-size: 18px;
}

button > .effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity linear 280ms;
    background-color: var(--color-primary);
    pointer-events: none;
}

button:hover > .effects {
    opacity: 0.05;
}

button:focus > .effects {
    opacity: 0.15;
}

button:active > .effects {
    opacity: 0.25;
}

/* ripple */
button::after {
    content: '';
    display: block;
    position: absolute;
    top: var(--ripple-y);
    left: var(--ripple-x);
    background-color: var(--color-primary);
    opacity: .1;
    border-radius: 50%;
    width: var(--ripple-size);
    height: var(--ripple-size);
    transform-origin: center;
    transform: scale(0);
}

/* Text Button */
button.text {
    border: none;
    padding: 0 8px;
    min-width: 0;
}

button.text:hover {
    background: #fff2;
}

/* Contained Button */
button.contained {
    background: var(--color-primary);
    color: var(--color-text-on-primary);
    box-shadow: var(--shadow-2);
    /*transition: box-shadow ease .6s;*/
    border: none;
}

button.contained:disabled {
    background-color: #aaa;
    box-shadow: none !important;
    color: #000;
}

button.contained > .effects {
    background-color: #fff;
}

button.contained:hover {
    box-shadow: var(--shadow-4);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ripple */
button.contained::after {
    opacity: .4;
    background-color: var(--color-text-on-primary);
}

/* Icon Button */
button[data-icon]:not(.fab) {
    border: none;
    padding: 0;
    min-width: 24px;
    height: 24px;
    overflow: visible;
    clip-path: circle(110%);
}

button[data-icon]:not(.fab) > .effects {
    display: none;
}

button[data-icon=more_vert]:not(.fab) {
    min-width: 8px;
}

/* Icon Contained Button */
button[data-icon].contained:not(.fab) {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    box-shadow: var(--shadow-4);
    overflow: hidden;
}

/* FAB */
button.fab.contained {
    background: var(--color-fab-bg, var(--color-accent));
    color: var(--color-fab-text, var(--color-text-on-accent));
    margin-bottom: 16px;
    margin-right: 16px;
    min-width: 56px;
    padding: 0;
    height: 56px;
    border-radius: 56px;
    box-shadow: var(--shadow-4);
    justify-self: right;
    z-index: 100;
}

button.fab.contained:hover {
    box-shadow: var(--shadow-6);
}


button.fab.contained[data-icon-pre] {
    height: 48px;
    padding: 0 20px 0 12px;
}

button.fab.contained[data-icon-pre]::before {
    font-size: 24px;
    margin-right: 12px;
}

/* ripple */
button.fab.contained::after {
    opacity: .15;
    background-color: var(--color-fab-text, var(--color-text-on-accent));
}
