
article.card {
    padding: 16px;
    background-color: var(--color-card, var(--color-sheet));
    box-shadow: var(--shadow-1);
    border-radius: 4px;
    margin: 8px;
    overflow: hidden;
    position: relative;
}

.card.outlined {
    box-shadow: none;
    border: 1px solid #0002;
}

article.card[data-action] {
    cursor: pointer;
}

article.card h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    letter-spacing: 0.25px;
    pointer-events: none;
}

article.card p {
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    opacity: .9;
    margin: 8px 0 0 0;
    pointer-events: none;
}

article.card > figure {
    margin: -16px -16px 16px -16px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
    pointer-events: none;
}

article.card > footer {
    margin: 8px -12px -12px -8px;
    text-align: right;
}

/* ripple */
article.card::after {
    content: '';
    display: block;
    position: absolute;
    top: var(--ripple-y);
    left: var(--ripple-x);
    background-color: var(--color-text);
    opacity: .1;
    border-radius: 50%;
    width: var(--ripple-size);
    height: var(--ripple-size);
    transform-origin: center;
    transform: scale(0);
}
