
article.chip {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    margin: 0 6px 6px 0;
    background: #e0e0e0;
    font-weight: 500;
    font-size: 14px;
    border-radius: 32px;
    transition:
        transform linear 120ms,
        box-shadow linear 120ms;
}

article.chip > button {
    margin-left: 4px;
    margin-right: -8px;
}

article.chip > button .effects {
    width: 24px !important;
    height: 24px !important;
}

article.chip[data-action]:active {
    transform: scale(1.01);
    box-shadow: var(--shadow-2);
}

article.chip > button:last-child::before {
    font-size: 22px;
    color: #666;
}

.text-field.chips {
    min-height: 64px;
    padding: 28px 12px 4px 12px;
    align-items: flex-start;
}

.text-field.chips:hover,
.text-field.chips:focus-within {
    background: #f5f5f5;
}

.text-field.chips > div {
    display: inline-flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    max-height: 100%;
    margin: 0 -6px;
    padding: 0 6px;
}

.text-field.chips > div > article {
    order: 1;
}

.text-field.chips > div > input[type=text] {
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    color: #212121;
    background: transparent;
    flex: 1;
    min-width: 40px;
    order: 2;
    height: 32px;
    align-self: flex-start;
}

.text-field.chips > span:last-child {
    position: absolute;
    left: 12px;
    top: 20px;
    white-space: nowrap;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transform: translateY(-11px);
    font-size: 11.5px;
    transition:
        font-size linear 120ms,
        margin linear 120ms;
}

.text-field.chips > span.helper {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    left: 12px;
    color: #666;
}

section.chips {
    display: flex;
    overflow-x: auto;
    margin-top: 14px;
    padding: 0 0 0 14px;
    height: 38px;
    border-bottom: 1px solid #ddd;
}

section.chips::-webkit-scrollbar {
    display: none;
}

section.chips::after {
    content: "";
    display: block;   
    min-width: 8px; 
    hight: 12px;
}

