@property --scrim-color {
  syntax: "<color>";
  initial-value: #000b;
  inherits: false;
}

article.dialog {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-sheet);
    width: fit-content;
    height: fit-content;
    box-shadow: var(--shadow-10), 0 0 1px 100vw var(--scrim-color);
    border-radius: 3px;
    padding: 24px;
    box-sizing: border-box;
    max-width: calc(100vw - 32px);
}

article.dialog > p {
    margin: 0;
    font-size: 14px;
}

article.dialog > footer {
    margin: 28px -16px -16px 0;
    text-align: right;
}

article.dialog > footer > button {
    margin-left: 8px;
}

article.dialog::before {
    content: ' ';
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    position: fixed;
}
