
form {
    display: grid;
    padding: 16px;
    grid-gap: 12px;
    overflow: hidden;
    position: relative;
}

form > label {
    width: 100%;
}

form > footer {
    margin-top: 16px;
    text-align: right;
    grid-column: 1 / -1;
}

form.loading > * {
    opacity: .7;
    pointer-events: none;
}

form.loading > progress:first-child {
    opacity: 1;
    position: absolute;
    margin: -16px -16px 0 -16px;
    width: calc(100% + 32px);
}