
ul {
    list-style: none;
    padding: 0;
    margin: 8px 0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

main > ul:last-child {
    padding-bottom: 84px;
}

menu > span {
    padding: 8px 16px;
    color: #777;
}

ul > li {
    display: grid;
    height: 48px;
    padding: 0 16px;
    overflow: hidden;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto;
    transition: background ease .5s;
}

ul > li[data-icon-pre]::before {
    margin-right: 32px;
    grid-row: span 2;
    align-self: center;
}

ul > li > label {
    grid-column: 2;
    grid-row: span 2;
    justify-self: left;
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    pointer-events: none;
}

ul > li.lines {
    min-height: 64px;
    grid-gap: 5px 0;
    max-height: 88px;
}

ul > li.lines > label {
    align-self: end;
    grid-row: 1;
    height: 20px;
    overflow: hidden;
}

ul > li > span {
    grid-column: 2;
    grid-row: 2;
    justify-self: left;
    text-align: left;
    align-self: top;
    opacity: .6;
    font-size: 14px;
}

ul > li.avatar {
    height: 56px;
}

ul > li.avatar > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 16px;
    grid-row: span 2;
    align-self: center;
}

ul > li.lines.avatar {
    min-height: 72px;
}

ul > li > button {
    grid-column: -1;
    justify-self: right;
    align-self: center;
    grid-row: 1 / -1;
    color: var(--color-text);
    opacity: .6;
}

/* Separator */
ul > hr {
    border-top: none;
    border-bottom: 1px solid #e6e6e6;
    margin: 6px 16px;
}

/* Ripple */
ul > li::after {
    content: '';
    display: block;
    position: absolute;
    top: var(--ripple-y);
    left: var(--ripple-x);
    background-color: var(--color-text);
    opacity: .1;
    border-radius: 50%;
    width: var(--ripple-size);
    height: var(--ripple-size);
    transform-origin: center;
    transform: scale(0);
}

/* Overline */

ul > li.overline > span:first-of-type {
    content: attr(data-overline);
    font-size: 12px;
    letter-spacing: 1.3px;
    opacity: .65;
    grid-row: 1;
    align-self: end;
}

ul > li.overline > label:first-of-type {
    grid-row: 2;
    align-self: start;
}
