
ul.menu {
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    min-width: 180px;
    max-width: 280px;
    padding: 8px 0;
    border-radius: 4px;
    background: var(--color-sheet);
    box-shadow: var(--shadow-3);
    z-index: 13;
    top: 0;
    margin: 0;
    overflow-y: auto;
    transform-origin: top left;
}

ul.menu::-webkit-scrollbar {
    display: none;
}

ul.menu::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

ul.menu > li[data-icon-pre]::before {
    margin-right: 16px;
}
