
.nav-drawer {
    box-shadow: var(--shadow-8);
    height: 100vh;
    min-width: 100px;
    width: calc(100vw - 56px);
    max-width: 300px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 12;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    transition: left ease .25s;
    justify-content: stretch;
    color: var(--color-text) !important;
    touch-action: none;
}

.nav-drawer.dragging {
    transition: initial;
}

.nav-drawer::before {
    position: fixed;
    background-color: #000;
    opacity: var(--bg-opacity);
    content: " ";
    width: 100vw;
    height: 100vh;
    display: block;
    top: 0;
    right: 0;
    z-index: -2;
}

.nav-drawer.closed::before {
    pointer-events: none;
}

.nav-drawer::after {
    position: fixed;
    content: " ";
    width: 10px;
    height: 100vh;
    display: block;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 20;
}

.nav-drawer > * {
    background: var(--color-sheet);
    margin: 0 0 0 -8px;
    padding-top: 8px;
}

.nav-drawer > header {
    border-bottom: 1px solid #e6e6e6;
    padding-left: 12px;
    padding-bottom: 8px;
}

.nav-drawer > ul {
    flex: 1;
    width: auto;
}

.nav-drawer > ul > li > label {
    font-weight: 500;
    font-size: 14px;
    pointer-events: none;
    z-index: 2;
}

.nav-drawer > ul > hr {
    margin: 8px 0;
}

.nav-drawer > ul > li.active {
    color: var(--color-primary);
    pointer-events: none;
}

.nav-drawer > ul > li.active > label {
    font-weight: 600px;
}

.nav-drawer > ul > li.active::before {
    z-index: 2;
}

.nav-drawer > ul > li.active > label::after {
    background: var(--color-primary);
    opacity: .2;
    content: ' ';
    display: inline-block;
    position: absolute;
    width: calc(100% - 16px);
    height: 40px;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 8px;
}
