progress.circular.indeterminate {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: var(--color-progress, var(--color-primary));
    background-color: transparent;
    font-size: 16px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
progress.circular.indeterminate:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

progress.circular.indeterminate:indeterminate {
    animation: none;
}

progress.circular.indeterminate:indeterminate::before,
progress.circular.indeterminate:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: progress-circular-pseudo 0.75s infinite linear alternate;
}

progress.circular.indeterminate:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: progress-circular-pseudo 0.75s infinite linear alternate;
}

progress.circular.indeterminate:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

div.blocking {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-sheet);
    z-index: 20;
    opacity: .7;
    align-items: center;
    justify-content: center;
}

@keyframes linear-indeterminate-1 {
    0% { width: 36vw; transform: translateX(-100%) }
    12% { width: 36vw; }
    50% { width: 100vw; transform: translateX(100vw) }
    100% { width: 100vw; transform: translateX(100vw) }
}

@keyframes linear-indeterminate-2 {
    0% { width: 100vw; transform: translateX(-100%) }
    75% { width: 100vw; transform: translateX(-100%) }
    85% { width: 100vw }
    100% { width: 50vw; transform: translateX(100vw) }
}

progress.linear {
    appearance: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #aaa;
    height: 4px;
    box-shadow: var(--shadow-4);
}

progress.indeterminate.linear::before {
    content: ' ';
    height: 4px;
    animation: linear-indeterminate-1 2.6s infinite;
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    display: block;
    background-color: var(--color-primary);
    transform-origin: right;
    position: absolute;
    top: 0;
    left: 0;
}

progress.indeterminate.linear::after {
    top: 0;
    left: 0;
    content: ' ';
    position: absolute;
    height: 4px;
    animation: linear-indeterminate-2 2.6s infinite;
    animation-delay: 1.6s;
    animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    display: block;
    background-color: var(--color-primary);
    transform-origin: right;
}

