
aside.snack-bar {
    box-sizing: border-box;
    width: calc(100vw - 16px);
    margin: 8px;
    padding: 16px;
    color: #ddd;
    background-color: #323232;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: .3px;
    box-shadow: var(--shadow-4);
}

aside.snack-bar:only-child {
    width: 100vw;
    margin: 0;
    border-radius: 0;    
}
