
nav.tabs {
    background-color: var(--color-nav-bg, var(--color-primary));
    box-shadow: var(--shadow-4);
    display: grid;
    grid-auto-columns: 1fr;
    position: sticky;
    top: 0;
    z-index: 9;
}

nav.tabs::after {
    content: '';
    transition:
        width ease .2s,
        transform ease .2s;
    height: 2px;
    width: var(--tab-indicator-width);
    bottom: 0;
    transform: translateX(var(--tab-indicator-x));
    position: absolute;
    background-color: var(--color-nav-text, var(--color-text-on-primary));
}

nav.tabs > button {
    display: block;
    width: 100%;
    grid-row: 1;
    border: none;
    font-weight: 500;
    letter-spacing: 1.25px;
    font-size: 14px;
    color: var(--color-nav-text, var(--color-text-on-primary));
    opacity: .45;
    height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    border-radius: 0;
}

nav.tabs > button > .effects {
    display: none !important;
}

nav.tabs > button.active {
    pointer-events: none;
    opacity: 1;
}

nav.tabs ~ article {
    top: 48px;
    position: absolute;
    width: 100vw;
    flex: 1 0 100vw;
    height: calc(100% - 48px);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
