
label.text-field {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    transition: background linear 120ms;
    margin-bottom: 18px;
    height: 56px;
    background: var(--color-text-field-background);
    border: 1px none #8f8f8f;
    border-bottom-style: solid;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 20px 12px 6px 12px;
    cursor: text;
    align-items: center;
    min-width: 0;
}

label.text-field > input {
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    color: var(--color-text-field-foreground);
    background: transparent;
    flex: 1;
    min-width: 0;
}

label.text-field[data-suffix] > input[type=text],
label.text-field[data-suffix] > input[type=password] {
    text-align: right;
}

label.text-field.disabled {
    pointer-events: none;
    opacity: .6;
}

label.text-field:hover {
    border-color: var(--color-text-field-foreground);
    background: #ececec;
}

label.text-field:focus-within {
    border-width: 2px;
    border-color: var(--color-text-field-border, var(--color-text-field-accent, var(--color-primary)));
    background: #dcdcdc;
}

label.text-field.error {
    border-color: var(--color-error) !important;
}

/* Prefix */
label.text-field[data-prefix]::before {
    content: attr(data-prefix);
    font-size: 16px;
    color: #8f8f8f;
    flex: 0 0;
    margin-right: 4px;
}

/* Suffix */
label.text-field[data-suffix]::after {
    content: attr(data-suffix);
    font-size: 16px;
    color: #8f8f8f;
    flex: 0 0;
    margin-left: 2px;
}

/* Label */
label.text-field > span:last-child {
    position: absolute;
    left: 12px;
    top: 20px;
    white-space: nowrap;
    font-size: 16px;
    opacity: .6891; 
    color: var(--color-text-field-foreground);
    pointer-events: none;
    transition:
        font-size linear 120ms,
        margin linear 120ms,
        transform linear 120ms;
}

label.text-field:focus-within > span:last-child {
    color: var(--color-primary);
    opacity: 0.8;
}

label.text-field.error > span:last-child {
    color: var(--color-error) !important;
    opacity: 1;
}

label.text-field > .icon ~ span:last-child {
    margin-left: 34px;
}

/* Label Rise */
label.text-field > input:not(:placeholder-shown) ~ span:last-child,
label.text-field > input:not([placeholder=' ']) ~ span:last-child,
label.text-field:focus-within > span:last-child,
label.text-field[data-prefix] > span:last-child,
label.text-field[data-suffix] > span:last-child {
    transform: translateY(-11px);
    font-size: 11.5px;
}

/* Icon */
label.text-field > span.icon {
    margin-top: -12px;
    margin-right: 6px;
    margin-left: 4px;
}

/* Helper Text & Error */
label.text-field > span.helper {
    position: absolute;
    left: 12px;
    color: #666;
    font-size: 12px;
    bottom: -18px;
}

label.text-field.error > span.helper {
    color: var(--color-error);
}

/* Buttons */
label.text-field > button {
    color: #666;
}

/* Outlined */
label.text-field.outline {
    border-style: solid;
    border-radius: 4px;
    background: transparent;
    padding-top: 12px;
    padding-bottom: 14px;
}

label.text-field.outline > span:last-child {
    background: var(--color-sheet);
    top: 18px;
    padding: 0 4px;
    opacity: 1;
}

/* Outlined Label Rise */
label.text-field.outline > input:not(:placeholder-shown) ~ span:last-child,
label.text-field.outline > input:not([placeholder=' ']) ~ span:last-child,
label.text-field.outline:focus-within > span:last-child,
label.text-field.outline[data-prefix] > span:last-child,
label.text-field.outline[data-suffix] > span:last-child {
    transform: translateY(-26.5px);
    margin-left: -4px;
}

/* Outlined Icon */
label.text-field.outline > span.icon {
    margin-top: 0;
}

label.text-field.numeric > input {
    text-align: right;
}

/* Time Field */
label.text-field.time > input {
    margin: 0 -12px 0 -12px;
    padding: 0 13px 0 13px;
}

/* Redacted Field */ 
label.text-field [type=password] ~ button {
    margin-bottom: 10px;
}