
:root {
    --color-text: #424242;
    --color-heading: #212121;
    --color-sheet: #fff;

    --color-primary: #1976d2;
    --color-text-on-primary: #fff;

    --color-error: #b00020;

    --color-background: #fff;

    --color-text-field-foreground: #212121;
    --color-text-field-background: #f5f5f5;
}
