
:root {
    --color-background: #121212;
    --color-sheet: #1E1E1E;
    --color-text: #eee;
    --color-text-field-foreground: #eee;
    --color-text-field-background: #2C2C2C;
    --color-error: #ef5350;
}
