
body {
    overflow: hidden;
}

body > main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    align-items: start;
    grid-auto-rows: min-content;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

h2 {
    font-size: 24px;
    color: var(--color-heading);
    font-weight: normal;
    margin: 8px 8px 0 8px;
}

body > main p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 8px 8px 8px;
}

body > main > progress:last-child {
    position: absolute;
    left: 0; right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#bottom-stack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    display: grid;
    align-content: end;
    grid-auto-rows: min-content;
}

#bottom-stack > * {
    pointer-events: auto;
}
